@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

nav {
    position: relative;
    display: flex;
}

nav a {
    color: #fff;
    margin: 0 20px;
    font-size: 2em;
    position: relative;
    text-decoration: none;
}

#marker {
    transition: 1s;
    background: #fff;
    height: 5px;
    bottom: -8px;
    width: 0;
    position: absolute;
}