@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

section {
    display: inline-grid;
    position: relative;
}

img {
    height: 400px;
    width: 580px;
    border-radius: 5px;
}

button {
    height: 50px;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    border-radius: 10px;
    background: #eeee;
    cursor: pointer;
}

@keyframes transition {
    0% {
        height: 400px;
        width: 580px;
    }

    100% {
        transform: scale(2.8);
    }
}